.header {
  position: fixed;
  width: 100%;
  height: 5rem;
  z-index: 1000;
  background-color: var(--first-color);
  color: var(--second-font-color);
}

  .header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
  }

  .profile-container {
    display: flex;
    align-items: center;
    transition: color 0.2s;
  }

    .profile-image {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--third-color-assistant);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin: 1rem;
    }

    .profile-name {
      font-size: var(--font-s);
      letter-spacing: 1px;
      font-weight: 700;
    }

    .space {
      color: var(--first-color);  
    }

  .menu-content {
    display: flex;
    
  }

    .menu {
    display: flex;
    width: 100vw;
    justify-content: center;
    text-transform: uppercase;
    margin-left: 4rem;

      a {
        display: inline-block;
        color: var(--second-font-color);
        padding-right: 3rem;
        padding-top: .5rem;
        text-decoration: none;
        text-align: center;

        &:hover {
          box-shadow: inset 0px 4px 0px 0px var(--third-color); //Efeito do mouse no link do menu
        }
      }

      &__close {
        display: none;
      }



      @media (max-width: 600px) {
        position: fixed;
        flex-direction: column;
        background-color: var(--first-color);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform: translateX(100vh);

        &--show {
          transform: translateX(0);
        }

        &__close {
          display: inline-block;
        }
      }
    }

    .show-menu {
      display: none;

      @media (max-width: 600px) {
        display: inline-block;
        margin-right: 5rem;
      }
    }