.language-options {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.language-option {
  text-align: center;
  padding: 0 16px;
  font-size: var(--font-s);
  background-color: transparent;
  border: none;
  color: var(--fourth-color);
  cursor: pointer;
  font-weight: 500;

  & + & {
    border-left: 1px solid #eee;
  }
}

.selected {
  font-weight: bold;
}