:root {

    //Colors
    --first-color: #5362E6;
    --support-first-color: #3C4DE4;
    --bg-hover: #5F6DE9;
    --second-color: #E9EBFE;
    --third-color: #DB9E02;
    --third-color-assistant: #D9C186;
    --fourth-color: #FFFFFF;
    --first-font-color: #2A363B;
    --second-font-color: #DDE0FA;

    //Font-size
    --font: 'Sofia Sans';
    --font-xs: 12px;
    --font-s: 18px;
    --font-m: 24px;
    --font-l: 30px;
    --font-xl: 36px;
    --font-xxl: 54px;

    //Font-weight
    --bold: 500;
    --xbold: 700;
    --xxbold: 900;

    //Section borders
    --padding-size-h: 2rem;
    --padding-size-v: 4rem; 

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    //Others optimizing config
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
  
  
    body {
        margin: 0;
        display: flex;
        place-items: center;
        min-width: 320px;
        min-height: 100vh;
    }
    
    h1 {
        font-size: var(--font-xxl);
        line-height: 1.1;
    }

}