:root {

    //Colors
    --first-color: #5362E6;
    --second-color: #E9EBFE;
    --third-color: #DB9E02;
    --fourth-color: #FFFFFF;
    --first-font-color: #2A363B;
    --second-font-color: #DDE0FA;

    --font: 'Sofia Sans';
}